.about__highlight {
  margin: 20rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.about__highlight__wrapper {
  margin: auto;
  height: 104rem;
  position: relative;
  width: 140rem;

  .about__highlight:nth-child(4) & {
    width: 104rem;
  }

  @include media("<=phone") {
    width: 100%;

    .about__highlight:nth-child(4) & {
      height: 119.3rem;
      width: 100%;
    }
  }
}

.about__highlight__label {
  @extend %description-12;

  left: 50%;
  letter-spacing: 0.1rem;
  top: 8rem;
  position: absolute;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  width: 9.6rem;
}

.about__highlight__title {
  @extend %title-200;

  left: 50%;
  padding-bottom: 2.5rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);

  @include media("<=phone") {
    font-size: 30rem;
  }
}

.about__highlight__media {
  position: absolute;
  height: 76rem;
  width: 54rem;

  .about__highlight:nth-child(4) & {
    width: 54rem;
    height: 76rem;
    position: absolute;
  }

  &:first-child {
    left: 0;
    top: 0;
  }

  &:last-child {
    bottom: 0;
    right: 0;
  }
}

.about__highlight__media_image {
  @extend %cover;

  object-fit: cover;
}
